In [1]:
import nltk

In [2]:
import pandas as pd
import numpy as np

In [10]:
data_frame=pd.read_csv("Dataset/AllProductReviews.csv")

In [11]:
data_frame

,ReviewTitle,ReviewBody,ReviewStar,Product
0,Honest review of an edm music lover\n,No doubt it has a great bass and to a great ex...,3,boAt Rockerz 255
1,Unreliable earphones with high cost\n,"This earphones are unreliable, i bought it be...",1,boAt Rockerz 255
2,Really good and durable.\n,"i bought itfor 999,I purchased it second time,...",4,boAt Rockerz 255
3,stopped working in just 14 days\n,Its sound quality is adorable. overall it was ...,1,boAt Rockerz 255
4,Just Awesome Wireless Headphone under 1000...ðŸ˜‰\n,Its Awesome... Good sound quality & 8-9 hrs ba...,5,boAt Rockerz 255
...,...,...,...,...
14332,Good\n,Good\n,4,JBL T110BT
14333,Amazing Product\n,An amazing product but a bit costly.\n,5,JBL T110BT
14334,Not bad\n,Sound\n,1,JBL T110BT
14335,a good product\n,the sound is good battery life is good but the...,5,JBL T110BT
14336,"Average headphones , n overrated name\n",M writing this review after using for almost 7...,1,JBL T110BT

In [12]:
data_frame['review'] = data_frame['ReviewTitle']+data_frame["ReviewBody"]

In [13]:
data_frame

,ReviewTitle,ReviewBody,ReviewStar,Product,review
0,Honest review of an edm music lover\n,No doubt it has a great bass and to a great ex...,3,boAt Rockerz 255,Honest review of an edm music lover\nNo doubt ...
1,Unreliable earphones with high cost\n,"This earphones are unreliable, i bought it be...",1,boAt Rockerz 255,Unreliable earphones with high cost\nThis ear...
2,Really good and durable.\n,"i bought itfor 999,I purchased it second time,...",4,boAt Rockerz 255,"Really good and durable.\ni bought itfor 999,I..."
3,stopped working in just 14 days\n,Its sound quality is adorable. overall it was ...,1,boAt Rockerz 255,stopped working in just 14 days\nIts sound qua...
4,Just Awesome Wireless Headphone under 1000...ðŸ˜‰\n,Its Awesome... Good sound quality & 8-9 hrs ba...,5,boAt Rockerz 255,Just Awesome Wireless Headphone under 1000...ðŸ˜‰...
...,...,...,...,...,...
14332,Good\n,Good\n,4,JBL T110BT,Good\nGood\n
14333,Amazing Product\n,An amazing product but a bit costly.\n,5,JBL T110BT,Amazing Product\nAn amazing product but a bit ...
14334,Not bad\n,Sound\n,1,JBL T110BT,Not bad\nSound\n
14335,a good product\n,the sound is good battery life is good but the...,5,JBL T110BT,a good product\nthe sound is good battery life...
14336,"Average headphones , n overrated name\n",M writing this review after using for almost 7...,1,JBL T110BT,"Average headphones , n overrated name\nM writi..."

In [14]:
data_frame=data_frame.drop(["ReviewTitle","ReviewBody"],axis=1)

In [15]:
#Remove the review that contains no text
data_frame = data_frame[data_frame['review'] != '']
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14337 entries, 0 to 14336
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ReviewStar  14337 non-null  int64
 1   Product     14337 non-null  object
 2   review      14337 non-null  object
dtypes: int64(1), object(2)
memory usage: 448.0+ KB

In [16]:
#Making all review to lowercase
data_frame['review'] = data_frame['review'].str.lower()

In [19]:
data_frame

,ReviewStar,Product,review
0,3,boAt Rockerz 255,honest review of an edm music lover\nno doubt ...
1,1,boAt Rockerz 255,unreliable earphones with high cost\nthis ear...
2,4,boAt Rockerz 255,"really good and durable.\ni bought itfor 999,i..."
3,1,boAt Rockerz 255,stopped working in just 14 days\nits sound qua...
4,5,boAt Rockerz 255,just awesome wireless headphone under 1000...ðŸ˜‰...
...,...,...,...
14332,4,JBL T110BT,good\ngood\n
14333,5,JBL T110BT,amazing product\nan amazing product but a bit ...
14334,1,JBL T110BT,not bad\nsound\n
14335,5,JBL T110BT,a good product\nthe sound is good battery life...
14336,1,JBL T110BT,"average headphones , n overrated name\nm writi..."

In [21]:
data_frame['rating'] = [1 if rating > 3 else 0 for rating in data_frame['ReviewStar']]

In [22]:
data_frame

,ReviewStar,Product,review,rating
0,3,boAt Rockerz 255,honest review of an edm music lover\nno doubt ...,0
1,1,boAt Rockerz 255,unreliable earphones with high cost\nthis ear...,0
2,4,boAt Rockerz 255,"really good and durable.\ni bought itfor 999,i...",1
3,1,boAt Rockerz 255,stopped working in just 14 days\nits sound qua...,0
4,5,boAt Rockerz 255,just awesome wireless headphone under 1000...ðŸ˜‰...,1
...,...,...,...,...
14332,4,JBL T110BT,good\ngood\n,1
14333,5,JBL T110BT,amazing product\nan amazing product but a bit ...,1
14334,1,JBL T110BT,not bad\nsound\n,0
14335,5,JBL T110BT,a good product\nthe sound is good battery life...,1
14336,1,JBL T110BT,"average headphones , n overrated name\nm writi...",0

In [24]:
data_frame['rating'].value_counts()

1    9402
0    4935
Name: rating, dtype: int64

In [18]:
#Checking if the dataset contains null values
data_frame.isnull().sum()

ReviewStar    0
Product       0
review        0
dtype: int64

In [196]:
#Function to split string to tokens and removing punctuation
def identify_tokens(row):
    tokens = nltk.word_tokenize(row)
    token_words = [w for w in tokens if w.isalpha()]
    return token_words

In [197]:
#Tokenization of DataFrame
data_frame['review'] = data_frame["review"].apply(identify_tokens)

In [198]:
data_frame

,ReviewStar,Product,review
0,3,boAt Rockerz 255,"[honest, review, of, an, edm, music, lover, no..."
1,1,boAt Rockerz 255,"[unreliable, earphones, with, high, cost, this..."
2,4,boAt Rockerz 255,"[really, good, and, durable, i, bought, itfor,..."
3,1,boAt Rockerz 255,"[stopped, working, in, just, days, its, sound,..."
4,5,boAt Rockerz 255,"[just, awesome, wireless, headphone, under, it..."
...,...,...,...
14332,4,JBL T110BT,"[good, good]"
14333,5,JBL T110BT,"[amazing, product, an, amazing, product, but, ..."
14334,1,JBL T110BT,"[not, bad, sound]"
14335,5,JBL T110BT,"[a, good, product, the, sound, is, good, batte..."
14336,1,JBL T110BT,"[average, headphones, n, overrated, name, m, w..."

In [199]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [200]:
#Funtion for lemmatizing the list of words
def stem_list(row):
    lem_list = [lemmatizer.lemmatize(word) for word in row]
    return (lem_list)

In [201]:
#Stemming of the dataframe
data_frame['review'] = data_frame["review"].apply(stem_list)

In [202]:
data_frame

,ReviewStar,Product,review
0,3,boAt Rockerz 255,"[honest, review, of, an, edm, music, lover, no..."
1,1,boAt Rockerz 255,"[unreliable, earphone, with, high, cost, this,..."
2,4,boAt Rockerz 255,"[really, good, and, durable, i, bought, itfor,..."
3,1,boAt Rockerz 255,"[stopped, working, in, just, day, it, sound, q..."
4,5,boAt Rockerz 255,"[just, awesome, wireless, headphone, under, it..."
...,...,...,...
14332,4,JBL T110BT,"[good, good]"
14333,5,JBL T110BT,"[amazing, product, an, amazing, product, but, ..."
14334,1,JBL T110BT,"[not, bad, sound]"
14335,5,JBL T110BT,"[a, good, product, the, sound, is, good, batte..."
14336,1,JBL T110BT,"[average, headphone, n, overrated, name, m, wr..."

In [203]:
from nltk.corpus import stopwords
stops = set(stopwords.words("english"))
stops.remove("not")
stops.remove("but")
stops.remove("no")

In [204]:
#Function to remove stop words from the list of words
def remove_stops(row):
    meaningful_words = [w for w in row if not w in stops]
    return (meaningful_words)

In [205]:
#Removing stopwords from the Dataframe
data_frame['review'] = data_frame["review"].apply(remove_stops)

In [206]:
data_frame

,ReviewStar,Product,review
0,3,boAt Rockerz 255,"[honest, review, edm, music, lover, no, doubt,..."
1,1,boAt Rockerz 255,"[unreliable, earphone, high, cost, earphone, u..."
2,4,boAt Rockerz 255,"[really, good, durable, bought, itfor, purchas..."
3,1,boAt Rockerz 255,"[stopped, working, day, sound, quality, adorab..."
4,5,boAt Rockerz 255,"[awesome, wireless, headphone, awesome, good, ..."
...,...,...,...
14332,4,JBL T110BT,"[good, good]"
14333,5,JBL T110BT,"[amazing, product, amazing, product, but, bit,..."
14334,1,JBL T110BT,"[not, bad, sound]"
14335,5,JBL T110BT,"[good, product, sound, good, battery, life, go..."
14336,1,JBL T110BT,"[average, headphone, n, overrated, name, writi..."

In [207]:
#Function to join the processed words
def rejoin_words(row):
    joined_words = ( " ".join(row))
    return joined_words

In [208]:
#Joining the processed words in the data_frame
data_frame['review'] = data_frame["review"].apply(rejoin_words)

In [209]:
data_frame

,ReviewStar,Product,review
0,3,boAt Rockerz 255,honest review edm music lover no doubt ha grea...
1,1,boAt Rockerz 255,unreliable earphone high cost earphone unrelia...
2,4,boAt Rockerz 255,really good durable bought itfor purchased sec...
3,1,boAt Rockerz 255,stopped working day sound quality adorable ove...
4,5,boAt Rockerz 255,awesome wireless headphone awesome good sound ...
...,...,...,...
14332,4,JBL T110BT,good good
14333,5,JBL T110BT,amazing product amazing product but bit costly
14334,1,JBL T110BT,not bad sound
14335,5,JBL T110BT,good product sound good battery life good but ...
14336,1,JBL T110BT,average headphone n overrated name writing rev...

In [ ]:
data_frame['review'] = data_frame["review"].apply(lambda x: )

In [210]:
from textblob import TextBlob

In [211]:
data_frame["review"]=data_frame["review"].apply(lambda x: TextBlob(x))

In [212]:
data_frame

,ReviewStar,Product,review
0,3,boAt Rockerz 255,"(h, o, n, e, s, t, , r, e, v, i, e, w, , e, ..."
1,1,boAt Rockerz 255,"(u, n, r, e, l, i, a, b, l, e, , e, a, r, p, ..."
2,4,boAt Rockerz 255,"(r, e, a, l, l, y, , g, o, o, d, , d, u, r, ..."
3,1,boAt Rockerz 255,"(s, t, o, p, p, e, d, , w, o, r, k, i, n, g, ..."
4,5,boAt Rockerz 255,"(a, w, e, s, o, m, e, , w, i, r, e, l, e, s, ..."
...,...,...,...
14332,4,JBL T110BT,"(g, o, o, d, , g, o, o, d)"
14333,5,JBL T110BT,"(a, m, a, z, i, n, g, , p, r, o, d, u, c, t, ..."
14334,1,JBL T110BT,"(n, o, t, , b, a, d, , s, o, u, n, d)"
14335,5,JBL T110BT,"(g, o, o, d, , p, r, o, d, u, c, t, , s, o, ..."
14336,1,JBL T110BT,"(a, v, e, r, a, g, e, , h, e, a, d, p, h, o, ..."

In [213]:
data_frame["review"]=data_frame["review"].apply(lambda x: x.ngrams(n=2))

In [214]:
data_frame

,ReviewStar,Product,review
0,3,boAt Rockerz 255,"[[honest, review], [review, edm], [edm, music]..."
1,1,boAt Rockerz 255,"[[unreliable, earphone], [earphone, high], [hi..."
2,4,boAt Rockerz 255,"[[really, good], [good, durable], [durable, bo..."
3,1,boAt Rockerz 255,"[[stopped, working], [working, day], [day, sou..."
4,5,boAt Rockerz 255,"[[awesome, wireless], [wireless, headphone], [..."
...,...,...,...
14332,4,JBL T110BT,"[[good, good]]"
14333,5,JBL T110BT,"[[amazing, product], [product, amazing], [amaz..."
14334,1,JBL T110BT,"[[not, bad], [bad, sound]]"
14335,5,JBL T110BT,"[[good, product], [product, sound], [sound, go..."
14336,1,JBL T110BT,"[[average, headphone], [headphone, n], [n, ove..."